@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
}

/* header section */

header {
    height: 150px;
    width: 100%;
    background: URL(../images/headerpic.jpg);
    border-style: groove;
    margin-bottom: -13px;
    margin-top: -5px;
}

#logo {
    font-family: 'Bruno Ace SC', serif;
    padding-left: 5px;
    float: left;
    letter-spacing: 6px;
    border-bottom: 20px;
    border-color: black;
}

#menu {
    float: right;
    padding-top: 15px;
    font: inherit;
    padding-right: 10px;
}

#menu li >a {
    text-decoration: none;
    color: black;
    font-family: 'Bruno Ace SC', serif;
    background: white;
    
}

#menu,
#logo {
    line-height: normal;
    display: flex;
    list-style-type: none;
}

/* header section END */

/* Form section */

.form-body {
    background: blue;
}

.form-title {
    font-family: serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -143px;
    font-size: 30px;
}

.container-form {
    width: 100%;
    height: 98%;
    max-width: 800px;
    margin: auto;
    background: whitesmoke;
}

/* Login form CSS */

.form-body {
    background: blue;
}

.form-title {
    font-family: serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -143px;
    font-size: 30px;
}

.container-form {
    width: 100%;
    height: 98%;
    max-width: 800px;
    margin: auto;
    background: whitesmoke;
}

/* start flexing */

.form-dimension {
    height: 100vh;
    margin: -36px 0px 6px 0px;
    background: URL(../images/tech-abstract-img.jpg) no-repeat;
    background-size: cover;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 1px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer {
    margin-top: 150px;
}

.flex-outer label {
    margin-left: 20px;
}

.flex-outer p {
    margin-left: 1px;
}

.flex-inner li {
    float: left;
}

.button-spacing {
    margin-right: 10px;
}

/* flexing END */

/* Form section END */

/* Footer section  */

#footer-container {
    width: 100%;
    background: URL('../images/footerpic.jpg');
    border-top: groove;
    padding: 20px;
    box-sizing: border-box;
}

.footer-inner-container {
    height: inherit;
    width: 100%;
}

/* Footer section END */

/* Media Queries */

@media screen and (max-width: 473px) {
    .flex-outer>li>label,
    .flex-outer li p {
        flex: 1 0 117px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 1px;
    }
}

@media screen and (max-width: 470px) {
    .flex-outer>li>label,
    .flex-outer li p {
        flex: 1 0 73px;
    }
}

@media screen and (max-width: 426px) {
    #logo {
        letter-spacing: 1px;
    }
}

.flex-outer li,
.flex-inner {
    margin-right: 35px;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 83px;
}

@media screen and (max-width: 421px) {
    .flex-outer>li>label,
    .flex-outer li p {
        flex: 1 0 65px;
    }
}

@media screen and (max-width: 411px) {
    #menu {
        margin-left: -4px;
        font-size: small;
    }
    .flex-outer {
        margin-top: 150px;
        margin-left: -40px;
    }
    .flex-outer li,
    .flex-inner {
        margin-right: 9px;
    }
    .flex-outer li,
    .flex-inner {
        margin-right: 6px;
    }
}

@media screen and (max-width: 381px) {
    #menu {
        float: right;
        font: inherit;
        padding-right: 9px;
        font-size: small;
    }
}
@media screen and (max-width: 359px) {
    #menu li >a {
        font-size:12px;
    }
}
@media screen and (max-width: 359px) {
    #menu li >a {
        font-size:11px;
    }
}

@media screen and (max-width: 351.99px) {
    #logo {
        padding-left: 0px;
        letter-spacing: -2px;
    }
    .flex-outer {
        margin-top: 150px;
        margin-left: -30px;
    }
    .flex-outer li,
    .flex-inner {
        margin-right: 93px;
    }
    .flex-outer>li>label,
    .flex-outer li p {
        margin-top: 12px;
    }
    .flex-outer li,
    .flex-inner {
        margin-top: 5px;
    }
    .flex-outer>li>label+*,
    .flex-inner {
        flex: 1 0 188px;
    }
    #menu {
        padding-right: 8px;
    }
}