@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
}

/* Header section */
header {
    height: 150px;
    width: 100%;
    background: URL(../images/headerpic.jpg);
    border-bottom: black;
    border-style: groove;
    margin-bottom: -13px;
    margin-top: -5px;
}

#logo {
    font-family: 'Bruno Ace SC', serif;
    padding-left: 5px;
    float: left;
    letter-spacing: 6px;
    border-bottom: 20px;
    border-color: black;
}

#menu {
    float: right;
    padding-top: 15px;
    font: inherit;
    padding-right: 10px;
}

#menu>a {
    text-decoration: none;
    color: black;
    font-family: 'Bruno Ace SC', serif;
    text-decoration: bold;
    font-weight: 200;
    background: white;
}

#menu,
#logo {
    line-height: normal;
}

/* Header section END */

/*Meet the invesment team section */

.parent {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-img-by-slidescorner.com.jpg') no-repeat center / cover;
    margin: 20px 0px;
  }
  
  .child {
    width: 90%;
    height: 400px;
    padding: 20px;
    text-align: center;
    color:white;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.content h1 {
    font-family: 'Bruno Ace SC', serif;
    font-size: 30px;
}
  
  .content p {
    overflow-wrap: break-word;
    width: 100%;
    
}

.meet-team-img { 
    display:flex;
    float:right;
    background: URL('../images/investors-team.png') center /cover;
    width:45%;
    height:100%;


}

/* END Meet the invesment team section END */

/* Meet the A.I team section*/
  
.parent2 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/upsidedown-hero-img-by-slidescorner.com.jpg) no-repeat center / cover;
    margin: -13px 0px 8px;
  }
  
  .child2 {
    display: flex;
    height: 400px;
    width: 90%;
    padding:20px;
  }
  
  .meet-team-img2 {
    background: url('../images/it-team.jpeg') center / cover;
    width: 45%;
    height: 100%;
  }
  
  .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 55%;
    padding: 0 20px;
    color: white;
  }
  
  .content2 h1 {
    font-family: 'Bruno Ace SC', serif;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .content2 p {
    overflow-wrap: break-word;
    width: 100%;
    margin-bottom: 20px;
  }

  /* END Meet the A.I team section END*/
  
/* Footer section */

#footer-container {
    width: 100%;
    background: URL('../images/footerpic.jpg');
    border-top: groove;
    padding: 20px;
    box-sizing: border-box;
}

.footer-inner-container {
    height: inherit;
    width: 100%;
}

.footer-content h2 {
    padding: auto;
}

.footer-content p {
    padding: auto;
}

/* Footer section END*/

/* MEDIA QUERIES*/

  @media screen and (max-width: 1350px) {
    .meet-team-img {
      width: 45vw;
      height: 48vh;
  }
  .content {
    width: 41vw;
  }
  
  
  .meet-team-img2 {
    width: 45vw;
    height: 48vh;
  }
  
  .content2{ 
    width: 55vw;
    height: 44vh;
  }
  
  
    
  }
  @media screen and (max-width: 1170px) {
  
    .content h1 {
      font-size: 27px;
  }
  
  .content p {
    font-size: 16px;
    margin: 0px;
  }
}
  @media screen and (max-width: 932px) {
    .content p {
      font-size: 14px;
  }
  .content2 {
    font-size: 14px;
  }
  .content2 h1 {
    font-size: 27px;
  }
  }
  @media screen and (max-width: 860px) {
    .meet-team-img {
      width: 44vw;
      height: 38vh;
  }
  .content {
    width: 38vw;
  }
  
  .meet-team-img {
    margin-top: 58px;
  }
  .meet-team-img2 {
    width: 46vw;
    height: 40vh;
    margin-top: 20px
  }
  }
  
  @media screen and (max-width: 730px) {
  
    .content h1 {
      font-size: 25px;
  }
    .content p {
      font-size: 12px;
  }
  
  .content2 {
    font-size: 12px;
  }
  .meet-team-img2 {
    width: 47vw;
    height: 36vh;
  
  }
  
  
  
  }
  @media screen and (max-width: 695px) {
    .content h1 {
      font-size: 22px;
    }
    .content2 h1 {
      font-size: 22px;
  }
  .meet-team-img {
    margin-top: 60px;
    width: 45vw;
    height: 30vh;
  }
  .meet-team-img2 {
    width: 47vw;
    height: 30vh;
    margin-top: 48px;
  }
  
  }
  @media screen and (max-width: 570px) {
    .content h1 {
      font-size: 20px;
  }
  .content p {
    font-size: 11px;
}
.content2 h1 {
  font-size: 20px;
}
.content2 p {
  font-size: 10px;
}

  }
  @media screen and (max-width: 540px) {
    .content h1 {
      font-size: 21px;
  }
    .content p {
      font-size: 10px;
  }
  .content2 h1 {
    font-size: 21px;
}
.content2 p {
  font-size: 10px;
}
.meet-team-img {

  height: 26vh;
}
.meet-team-img2 {
  height: 26vh;
}


  }

  @media screen and (max-width: 514px) {
    .content h1 {
      font-size: 18px;
  }
  .content p {
    font-size: 9px;
}
.content2 h1 {
  font-size: 18px;
}
.content2 p {
  font-size: 9px;
}
.meet-team-img {
  height: 22vh;
}
.meet-team-img2 {
  height: 22vh;
  margin-top: 71px;
}

  }

  @media screen and (max-width: 460px) {
    .content h1 {
      font-size: 15px;
  }
  .content p {
    font-size: 8px;
}

.content2 h1 {
  font-size: 15px;
}
.content2 p {
  font-size: 8px;
}

  }
  
  @media screen and (max-width: 430px) {

    #menu a { 
      font-size:15px;
    }
    #logo {
      letter-spacing: 2px;
  }

    .meet-team-img {
      height: 22vh;
      margin-top: 12px;
  }
  .content {
    width: 30vw;
}
  .content h1 {
    font-size: 12px;
}
.content p {
  font-size: 7px;
}

.meet-team-img2 {
  height: 18vh;
  margin-top: 91px;
}

.content2 h1 {
  font-size: 12px;
}

.content2 p {
  font-size: 7px;
}
#footer-container {
  font-size: 13px;
}
  }

  @media screen and (max-width: 370px) {
    #logo {
      letter-spacing: 0px;
  }
  #menu a { 
    font-size:15px;
  }
    .meet-team-img {
      height: 18vh;
      margin-top: 55px;
  }
  }

  @media screen and (max-width: 335px) {
    #logo {
      font-size: 29px;
  }
  #menu a { 
    font-size:15px;
  }

  }
  @media screen and (max-width: 330px) {
.content h1 {
  font-size: 10px;
}
.content p {
  font-size: 6px;
}
    .content2 h1 {
      font-size: 10px;
  }
  .content2 p {
    font-size: 6px;
}


    .meet-team-img2 {
      height: 15vh;
      margin-top: 96px;
  }
  }

