@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
}

/* Header section */
header {
    height: 150px;
    width: 100%;
    background: URL(../images/headerpic.jpg);
    border-bottom: black;
    border-style: groove;
    margin-bottom: -13px;
    margin-top: -5px;
}

#logo {
    font-family: 'Bruno Ace SC', serif;
    padding-left: 5px;
    float: left;
    letter-spacing: 6px;
    border-bottom: 20px;
    border-color: black;
}

#menu {
    float: right;
    padding-top: 15px;
    font: inherit;
    padding-right: 10px;
}

#menu li >a {
    text-decoration: none;
    color: black;
    font-family: 'Bruno Ace SC', serif;
    font-weight: 200;
    background: white;
}

#menu,
#logo {
    line-height: normal;
    display: flex;
    list-style-type: none;
}

/* Header section END */

/* Hero Section / Who we are section */

#hero-section {
    width: 100%;
    height: 75vh;
    background: URL(../images/hero-img-by-slidescorner.com.jpg) no-repeat center / cover;
    color: white;
}

.info p {
    word-spacing: 3px;
    font-size: larger;
    margin-left: 40px;
}

.info a {
    float: right;
    text-decoration-color: lightblue;
    color: white;
}

.info h2 {
    font-family: 'Bruno Ace SC', serif;
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 7px;
    margin-left: 40px;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 800px;
    display: block;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 15px auto;
    padding: 58px 0px 0px 20px;
    width: 90%;
}

.info h1 {
    margin-bottom: 5px;
}

/* Hero Section / Who we are section  END*/

/* Why Choose us section */

.why-us-content h2 {
    font-family: 'Bruno Ace SC', serif;
  }

#why-us-section {
    width: 100%;
    height: 75vh;
    background: URL('../images/business-candle-stick-graph.png') no-repeat center / cover fixed;
    color: white;
}

.why-us-container {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    align-items: center;
}

.why-us-content {
    padding: 20px;
    margin: 1px auto;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.why-choose-us-context {
    text-align: center;
    font-family: 'Bruno Ace SC', serif;
}

.why-us-content h1 {
    font-family: 'Bruno Ace SC', serif;
    font-size: 30px;
}

.why-us-content p {
    word-spacing: 3px;
    font-size: larger;
    margin-left: auto;
}

.why-us-content a {
    color: white;
}

.margin-right {
    margin-left: 15px;
}

.whychoose-anchor {
    float: right;
    padding-top: 20px;
    margin-left: 15px;
}

/* Why Choose us section END */

/* Meet the team section */

#meet-our-team {
    width: 100%;
    box-sizing: border-box;
}

.meet-our-team-inner-container {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.meet-our-team-heading {
    font-family: 'Bruno Ace SC', serif;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 10px;
}

.member-profile {
    min-height: 200px;
    width: 30%;
    background-color: lightslategray;
    margin: 10px 10px 45px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 25vw;
}

.member-profile-pic-leomord{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background: url('../images/leomord-brinks.jpg') ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 120px;
    max-height: 120px;
}

.member-profile-pic-sarah{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background: url('../images/formal-looking-woman.jpeg') ; 
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 120px;
    max-height: 120px;
}

.member-profile-pic-sean{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background: url('../images/image-of-focused-unshaven-programmer-man-working-with-computer.jpeg') ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 120px;
    max-height: 120px;
}

.member-details {
    margin-top: 10px;
    text-align: center;
    color:white;
}

.member-details p {
    margin: 0;
}

/* Meet the team section  END*/

/* Sign-up form */

.sign-up-form-background {
    background: URL(../images/tech-abstract-img.jpg) no-repeat ;
    background-size:cover;
}

.form-title {
    font-family: serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -143px;
    font-size: 30px;
}

.container-form {
    width: 100%;
    height: 98%;
    max-width: 800px;
    margin: auto;
    background: whitesmoke;
}

/* start flexing  */

.form-dimension {
    height: 100vh;
    margin: -36px 0px 6px 0px;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 1px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer {
    margin-top: 150px;
}

.flex-outer label {
    margin-left: 20px;
}

.flex-outer p {
    margin-left: 1px;
}

.flex-inner li {
    float: left;
}

.button-spacing {
    margin-right: 10px;
}

/* Sign-up form  END*/

/* Footer section */

#footer-container {
    width: 100%;
    background: URL('../images/footerpic.jpg');
    border-top: groove;
    padding: 20px;
    box-sizing: border-box;
}

.footer-inner-container {
    height: inherit;
    width: 100%;
}

/* Footer section END*/

/* Media Query for index.html */

@media screen and (max-width: 636px) {

    .why-us-content p {
        word-spacing: 3px;
        font-size: medium;
        margin-left: auto;
    }

    .info p {
        word-spacing: 3px;
        font-size: medium;
        margin-left: 40px;
    }

    .why-us-container {
        display: flex;
        height: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 567px) {

    .why-us-content p {
        word-spacing: 3px;
        font-size: small;
        margin-left: auto;
    }

    .info p {
        word-spacing: 3px;
        font-size: small;
        margin-left: 40px;
    }
}

@media screen and (max-width: 425.99px) {
    #logo {
        font-family: 'Bruno Ace SC', serif;
        padding-left: 5px;
        float: left;
        letter-spacing: 5px;
        border-bottom: 20px;
        border-color: black;
    }
    
    #menu>a {
        font-size: 12px;
    }

    #menu {
        padding-top: 15px;
        font: inherit;
        padding-right: 0px;
        float: none;
    }
}

@media screen and (max-width: 409px) {
    #logo {
        font-family: 'Bruno Ace SC', serif;
        padding-left: 5px;
        float: left;
        border-bottom: 20px;
        border-color: black;
        font-size: 28px;
    }

    .info h2 {
        font-family: 'Bruno Ace SC', serif;
        font-size: 30px;
        padding-bottom: 20px;
        margin-top: 7px;
        margin-left: 39px;
    }

    .why-us-content h1 {
        font-family: 'Bruno Ace SC', serif;
        font-size: 23px;
    }

    .margin-right {
        margin-left: 31px;
    }

    .whychoose-anchor {
        float: right;
        padding-top: 20px;
        margin-left: 23px;
    }

    #menu {
        padding-top: 15px;
        font: inherit;
        padding-right: 10px;
    }

    #menu>a {
        font-size: 12px;
    }

}
@media screen and (max-width: 370px) {
    .why-us-content h1 {
        font-size: 21px;
    }

    .info h2 {
        font-size: 27px;
    }

    #logo {
        font-size: 27px;
    }

    #menu {
        font-size: 14px;
    }
}

@media screen and (max-width: 349px) {

    .info h2 {
        font-family: 'Bruno Ace SC', serif;
        font-size: 28px;
        padding-bottom: 20px;
        margin-top: 7px;
        margin-left: 39px;
    }

    .why-us-content h1 {
        font-size: 22px;
    }

    .why-us-content h1 {
        margin: inherit;
    }

    #footer-container {
        padding:0;
    }
    #menu {
        font-size: 13px;
    }
    #why-us-section {
        height: 78vh;
    }
    .info a {
        font-size: 11px;
    }
    .whychoose-anchor {
        font-size: 11px;
    }
}
@media screen and (max-width: 335px) {
    #why-us-section {
        height: 81vh;
    }

}
/*  END Media Query for index.html END */
/*  END */