@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
}
/* Header section */
header {
    height: 150px;
    width: 100%;
    background: URL(../images/headerpic.jpg);
    border-bottom: black;
    border-style: groove;
    margin-bottom: -13px;
    margin-top: -5px;
}

#logo {
    font-family: 'Bruno Ace SC', serif;
    padding-left: 5px;
    float: left;
    letter-spacing: 6px;
    border-bottom: 20px;
    border-color: black;
}

#menu {
    float: right;
    padding-top: 15px;
    font: inherit;
    padding-right: 10px;
}

#menu>a {
    text-decoration: none;
    color: black;
    font-family: 'Bruno Ace SC', serif;
    text-decoration: bold;
    font-weight: 200;
    background: white;
}

#menu,
#logo {
    line-height: normal;
}
/* Header section END */

/* Hero Section / Who we are section */

#hero-section {
    width: 100%;
    height: 75vh;
    background: URL(../images/01\ -\ Kipp\ Abstract\ Background\ for\ Tech\ Dots\ &\ Lines\ Connection\ by\ SlidesCorner.com.jpg) no-repeat center / cover;
    color: white;
}

.info p {
    word-spacing: 3px;
    font-size: larger;
    margin: none;
    margin-left: 40px;
}

.info a {
    float: right;
    text-decoration-color: lightblue;
    color: white;
}

.info h2 {
    font-family: 'Bruno Ace SC', serif;
    font-size: 30px;
    padding-bottom: 20px;
    margin-top: 7px;
    margin-left: 40px;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 800px;
    display: block;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 15px auto;
    padding: 58px 0px 0px 20px;
    width: 90%;
}

.info h1 {
margin-bottom: 5px;
}

/* Hero Section / Who we are section  END*/

/* Why Choose us section */

#why-us-section {
width: 100%;
height: 75vh;
background: URL('../images/Business\ candle\ stick\ graph\ chart\ of\ stock\ market\ investment\ trading.png') no-repeat center / cover fixed;
color: white;
}

.why-us-container {
    display: flex;
    width: 90%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    align-items: center;
}

.why-us-content {
    padding: 20px;
    margin: 1px auto;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

.why-choose-us-context {
    text-align: center;
}

.why-us-content h1 {
    float: center;
    font-family: 'Bruno Ace SC', serif;
    text-decoration: bold;
    font-size: 30px;
}

.why-us-content p {
    word-spacing: 3px;
    font-size: larger;
    margin: none;
    margin-left: auto;
}

.why-us-content a {
    color: white;
}

.margin-right {
    margin-left: 15px;
}

.whychoose-anchor {
    float: right;
    padding-top: 20px;
    margin-left: 15px;
}

/* Why Choose us section END */

/* Meet the team section */

#meet-our-team {
    width: 100%;
    box-sizing: border-box;
}

.meet-our-team-inner-container {
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -40px;
}

.meet-our-team-heading {
    font-family: 'Bruno Ace SC', serif;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 10px;
}

.member-profile {
    height: 50%;
    width: 30%;
    background-color: lightblue;
    margin: 10px 10px 45px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-profile-pic {
    height: 120px;
    width: 120px;
    border-radius: 90px;
    background: white;
}

.member-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.member-details p {
    margin: 0;
}

/* Meet the team section  END*/

/* Sign-up form */

.form-body {
    background: blue;
}

.form-title {
    font-family: serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -143px;
    font-size: 30px;
}

.container-form {
    width: 100%;
    height: 98%;
    max-width: 800px;
    margin: auto;
    background: whitesmoke;
}

/* start flexing  */

.form-dimension {
    height: 100vh;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.flex-outer>li>label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 1px;
}

.flex-outer>li>label+*,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer {
    margin-top: 150px;
}

.flex-outer label {
    margin-left: 20px;
}

.flex-outer p {
    margin-left: 1px;
}

.flex-inner li {
    float: left;
}

.button-spacing {
    margin-right: 10px;
}

/* Sign-up form  END*/

/* Footer section */

#footer-container {
    width: 100%;
    background: URL('../images/headerpic.jpg');
    border-top: groove;
    padding: 20px;
    box-sizing: border-box;
}

.footer-inner-container {
    height: inherit;
    width: 100%;
}

.footer-content h2 {
    padding: auto;
}

.footer-content p {
    padding: auto;
}

/* Footer section END*/

/* Media Query for index.html */

@media screen and (max-width: 636px) {

    .meet-our-team-inner-container {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -40px;
    }

    .why-us-content p {
        word-spacing: 3px;
        font-size: medium;
        margin: none;
        margin-left: auto;
    }

        .info p {
            word-spacing: 3px;
            font-size: medium;
            margin: none;
            margin-left: 40px;
        }

        .why-us-container {
            display: flex;
            /* width: 90%; */
            height: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: block;
    }

    .member-profile {
        height: 50%;
        width: 24%;
        background-color: lightblue;
        margin: 10px 10px 45px 10px;
        display: flex;
        align-items: top;
        justify-content: space-evenly;
        fit: auto;
    }
    /* Media Query for index.html */

        @media screen and (max-width: 567px) {

            .why-us-content p {
                word-spacing: 3px;
                 font-size: small; 
                margin: none;
                margin-left: auto;
            }

            .info p {
                word-spacing: 3px;
                font-size: small;
                margin: none;
                margin-left: 40px; 
            }

            @media screen and (max-width: 425px) {
                #logo {
                    font-family: 'Bruno Ace SC', serif;
                    padding-left: 5px;
                    float: left;
                    letter-spacing: 5px;
                    border-bottom: 20px;
                    border-color: black;
                }

                @media screen and (max-width: 409px) {
                    #logo {
                        font-family: 'Bruno Ace SC', serif;
                        padding-left: 5px;
                        float: left;
                        border-bottom: 20px;
                        border-color: black;
                        color:red;
                    }

                    .info h2 {
                        font-family: 'Bruno Ace SC', serif;
                        font-size: 30px;
                        padding-bottom: 20px;
                        margin-top: 7px;
                        margin-left: 39px;
                    }

                    .why-us-content h1 {
                        float: center;
                        font-family: 'Bruno Ace SC', serif;
                        text-decoration: bold;
                        font-size: 23px;
                    }

                    .margin-right {
                        margin-left: 31px;
                    }

                    .whychoose-anchor {
                        float: right;
                        padding-top: 20px;
                        margin-left: 23px;
                    }

                    #menu {
                        padding-top: 15px;
                        font: inherit;
                        padding-right: 10px;
                        float: none;
                    }
                    #menu>a {
                        font-size: 12px;
                    }
                    #footer-container {
                     padding:none;
                    }
                   

                    @media screen and (max-width: 340px) {

                        .info h2 {
                            font-family: 'Bruno Ace SC', serif;
                            font-size: 28px;
                            padding-bottom: 20px;
                            margin-top: 7px;
                            margin-left: 39px;
                        }

                        .why-us-content h1 {
                            font-size: 22px;
                        }

                        .why-us-content h1 {
                            margin: inherit;
                        }
                        #footer-container {
                            padding:none;
                        }

                        @media screen and (max-width: 362px) {
                            .why-us-content h1 {
                                font-size: 21px;
                            }

                            .info h2 {
                                font-size: 27px;
                            }

                            #logo {
                                font-size: 30px;
                            }
                            #footer-container {
                                padding:none;
                            }
                        }               
}               
/* Media Query for index.html END */